proxies:
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 VIP2-香港3 ||500M", server: 45.uuuyun.click, port: 60045, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 45.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 VIP2-香港4 ||500M", server: 46.uuuyun.click, port: 60046, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 46.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] 1 日本|限速100M", server: 4.uuuyun.click, port: 20004, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 4.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] 2 日本|限速100M", server: 5.uuuyun.click, port: 60005, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 5.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip①] 3 新加坡 |限速100M", server: 8.uuuyun.click, port: 60008, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 8.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] 4 日本|限速100M", server: 9.uuuyun.click, port: 50009, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 9.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] 5 日本|限速100M", server: 10.uuuyun.click, port: 60010, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 10.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] 6 日本|限速100M", server: 12.uuuyun.click, port: 60012, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 12.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] 7 日本|限速100M", server: 13.uuuyun.click, port: 60013, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 13.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 [vip①] 8 香港|限速100M", server: 21.uuuyun.click, port: 60021, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 21.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 [vip①] 9 香港|限速100M", server: 22.uuuyun.click, port: 60022, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 22.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇺🇸 [vip①] ⑩ 美国|限速100M", server: 26.uuuyun.click, port: 60026, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 26.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇺🇸 [vip①] ⑪ 美国|限速100M", server: 27.uuuyun.click, port: 60027, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 27.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇺🇸 [vip①] ⑫ 美国|限速100M", server: 40.uuuyun.click, port: 39940, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 40.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] ⑬ 日本|限速100M", server: 41.uuuyun.click, port: 60041, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 41.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip①] ⑭ 新加坡|移动中继|限速100M", server: 20.uuuyun.click, port: 60020, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 20.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip①] ⑮ 日本|限速100M", server: 31.uuuyun.click, port: 60031, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 31.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 [vip①] ⑯ 香港|限速100M", server: 42.uuuyun.click, port: 60042, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 42.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 [vip①] ⑰ 香港|限速100M", server: 43.uuuyun.click, port: 60043, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 43.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip①] ⑱ 新加坡|限速100M", server: 44.uuuyun.click, port: 60044, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 44.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇺🇸 [vip②] 1 美国1 |电信中继|500M", server: 11.uuuyun.click, port: 60011, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 11.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip②] 2 新加坡 |AZ中继|500M", server: 14.uuuyun.click, port: 60014, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 14.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip②] 3 日本 |AZ中继|500M", server: 15.uuuyun.click, port: 60015, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 15.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip②] 4 日本|AZ中继|500M", server: 16.uuuyun.click, port: 60016, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 16.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip②] 5 日本|廣移中继|AWS|500M", server: 17.uuuyun.click, port: 60017, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 17.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip②] 6 新加坡|廣移中继|500M", server: 18.uuuyun.click, port: 60018, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 18.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip②] 7 新加坡|廣移中继|500M", server: 24.uuuyun.click, port: 60024, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 24.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 [vip②] 8 香港|廣移中继|AWS|500M", server: 25.uuuyun.click, port: 60025, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 25.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip②] 9 日本|廣移中继|500M", server: 28.uuuyun.click, port: 60028, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 28.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇭🇰 [vip②] ⑩ 香港|廣移中继|500M", server: 29.uuuyun.click, port: 60029, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 29.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip②] ⑪ 日本||廣移中继|500M", server: 30.uuuyun.click, port: 60030, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 30.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇰🇷 [vip②] ⑫ 韩国|CN2中继|500M", server: 34.uuuyun.click, port: 60034, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 34.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇯🇵 [vip②] ⑬日本|CN2中继|500M", server: 37.uuuyun.click, port: 60037, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 37.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip②] ⑭ 新加坡|CN2中继|500M", server: 38.uuuyun.click, port: 60038, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 38.uuuyun.click}}}
  - {name: "翻山⛰️只为草泥马长风🎣库 🇸🇬 [vip②] ⑮ 新加坡|CN2中继|500M", server: 39.uuuyun.click, port: 60039, type: vmess, uuid: 28717c2f-724c-353b-ba90-1e191de05824, alterId: 2, cipher: auto, tls: false, skip-cert-verify: false, network: ws, ws-opts: {path: /, headers: {Host: 39.uuuyun.click}}}
